from configobj import ConfigObj
config = ConfigObj('fabsettings.ini')

from fabric.api import env

print config['project']

env.project_name = config['project']['name']
env.project_sites = config['nodes']
env.activate = 'source ~/.bash_profile; source `which virtualenvwrapper.sh`; workon {0}'\
        .format(env.project_name)

# imported fab functions
from fabric_colors.deployment import *
from fabric_colors.utilities import *
from fabric_colors.distro import *
from fabric_colors.distro.arch import *
from fabric_colors.webservers.uwsgi import *
