# Plug in values specific to each project

import os

from fabric.contrib import django
# django.settings_module('yourproject.settings')

from django.conf import settings

# Example PROJECT_ROOT definition in django settings file
# import os
# PROJECT_ROOT = os.path.dirname(os.path.join("..",  os.path.dirname(__file__)))
#
PROJECT_NAME = os.path.dirname(settings.PROJECT_ROOT).split('/').pop()

# Define a dictionary containing all the app instances in various machines
PROJECT_SITES = {
    'a_machine_name': {
        'NAME': 'yourproject.com',
        'IP': 'machine.ip.addr.ess',
    }
}

print "Running with PROJECT_ROOT {0}".format(settings.PROJECT_ROOT)
print "Our PROJECT_NAME is {0}".format(PROJECT_NAME)
print "We currently have the following instances:"
for item in PROJECT_SITES:
    print " * %s \n" % item
